.os-scrollbar {
  // The size of the scrollbar
  --os-size: 14px;
  // The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x)
  --os-padding-perpendicular: 4px;
  // The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y)
  --os-padding-axis: 10px;
  // The background of the scrollbar handle
  --os-handle-bg: #ffffff10;
}