{% extends "templates/layouts/base.twig" %}

{% set title = "Deepnude - Pricing" %}

{% block page %}
    <main class="bg-auth bg-cover bg-center bg-no-repeat bg-fixed">
        <section class="flex items-center min-h-screen md:p-0 pt-20 pb-6 px-6 justify-center md:inset-10 backdrop-blur-3xl">
            <a href="/" class="absolute top-6 left-6">
                <img src="/src/assets/images/logo.svg" alt="" class="h-6">
            </a>

            <div class="mt-[7.25rem] justify-items-center absolute top-6 left-100 flex lg:p-[0.4301vh] lg:w-auto rounded-[2.25rem] p-1 w-[58%]">
                <span class="font-semibold text-4xl">Pricing</span>
            </div>

            <div class="mt-[11.25rem] justify-items-center absolute top-6 left-100 flex lg:p-[0.4301vh] lg:w-auto rounded-[2.25rem] p-1 w-[58%]">
                <span class="text-center font-regular text-xl opacity-70">Safely collect, process, and share your data with the plan that’s right for <br> you that’s right for you.</span>
            </div>

            <div class="absolute mt-[18.25rem] top-6 left-100 flex lg:p-[0.4301vh] lg:w-auto bg-white bg-opacity-[3%] rounded-[2.25rem] p-1 w-[58%]">
                <button class="justify-center items-center rounded-[2.25rem] py-1.5 bg-white bg-opacity-10">
                    <a class="lg:py-4 lg:px-10 lg:h-[1.6129vh] h-[0.9375rem]">
                        ⠀1 month⠀
                    </a>
                </button>
                <button class="justify-center items-center lg:py-4 lg:px-10 rounded-[2.25rem] py-1.5">
                    <span>3 month⠀</span>
                    <span class="py-0.5 px-2 text-opacity-100 font-semibold uppercase text-[0.5rem] rounded-full text-decoration-color: from-electric-violet-1 via-electric-violet-2 to-electric-violet-3">-10%</span>
                </button>
                <button class="justify-center items-center lg:py-4 lg:px-10 rounded-[2.25rem] py-1.5">
                    <a class="lg:h-[1.6129vh] h-[0.9375rem]">
                        6 month
                    </a>
                </button>
                <button class="justify-center items-center lg:py-4 lg:px-10 rounded-[2.25rem] py-1.5">
                    <a class="lg:h-[1.6129vh] h-[0.9375rem]">
                        12 month
                    </a>
                </button>
            </div>

            <div class="mt-[26.5rem] mb-[4rem] text-start bg-white bg-opacity-10 mr-3 ml-3 md:w-[30rem] md:h-[40rem] w-6 md:pl-10 md:pr-10 px-6 py-8 md:rounded-[2rem] rounded-2xl">
                <div class="font-semibold text-3xl">Standard Plan</div>
                <div class="font-semibold text-3xl mt-6">$16.99 <a class="font-semibold">per month</a> </div>
                <div class="flex justify-center gap-x-4 mt-3 mb-12">
                    <div class="opacity-50">Explore the product and power small, personal  power small, personal </div>
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Excellent quality
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Body type trait access
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Age trait access
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex" src="/src/assets/images/Price-Check.svg">
                    ⠀No watermarks
                </div>
                <div class="items-center mt-[6.25rem] mb-5">
                    <button type="submit" class="mb-[1.5rem] rounded-full bg-white bg-opacity-10 px-6 py-2.5 relative border border-red-600 border-opacity-0 duration-300 ease-in-out group active:border-opacity-20">
                        <span>Buy this plan</span>
                        <img src="/src/assets/images/diamond-blur.svg" alt="" class="absolute h-2 -bottom-1 left-1/2 -translate-x-1/2 opacity-0 duration-300 ease-in-out group-hover:opacity-100">
                    </button>
                </div>
            </div>

            <div class="mt-[26.5rem] mb-[4rem] text-start bg-white bg-opacity-10 md:w-[30rem] md:h-[40rem] w-6 mr-3 ml-3 md:pl-10 md:pr-10 px-6 py-8 md:rounded-[2rem] rounded-2xl">
                <div class="font-semibold text-3xl">Pro Plan</div>
                <div class="font-semibold text-3xl mt-6">$37.99 <a class="font-semibold">per month</a> </div>
                <div class="flex justify-center gap-x-4 mt-3 mb-12">
                    <div class="opacity-50">Explore the product and power small, personal  power small, personal </div>
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Excellent quality
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Body type trait access
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Age trait access
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex" src="/src/assets/images/Price-Check.svg">
                    ⠀No watermarks
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex" src="/src/assets/images/Price-Check.svg">
                    ⠀No queue
                </div>
                <div class="flex items-center mt-[2rem] mb-5">
                    <button type="submit" class="mb-[1.5rem rounded-full bg-white bg-opacity-10 px-6 py-2.5 relative border border-red-600 border-opacity-0 duration-300 ease-in-out group active:border-opacity-20">
                        <span>Buy this plan</span>
                        <img src="/src/assets/images/diamond-blur.svg" alt="" class="absolute h-2 -bottom-1 left-1/2 -translate-x-1/2 opacity-0 duration-300 ease-in-out group-hover:opacity-100">
                    </button>
                </div>
            </div>

            <div class="mt-[26.5rem] mb-[4rem] text-start bg-white bg-opacity-10 md:w-[30rem] md:h-[40rem] w-6 mr-3 ml-3 md:pl-10 md:pr-10 px-6 py-8 md:rounded-[2rem] rounded-2xl">
                <div class="font-semibold text-3xl">Basic Plan</div>
                <div class="font-semibold text-3xl mt-6">$5.49 <a class="font-semibold">per month</a> </div>
                <div class="flex justify-center gap-x-4 mt-3 mb-12">
                    <div class="opacity-50">Explore the product and power small, personal  power small, personal </div>
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Excellent quality
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Body type trait access
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex pr-1" src="/src/assets/images/Price-Check.svg">
                    ⠀Age trait access
                </div>
                <div class="flex items-center gap-x-3 mt-5 mb-5">
                    <hr class="flex-1 border-white border-opacity-10">
                </div>
                <div class="flex">
                    <img class="flex" src="/src/assets/images/Price-Check.svg">
                    ⠀No watermarks
                </div>
                <div class="items-center mt-[6.375rem] mb-5">
                    <button type="submit" class="mb-[1.5rem] rounded-full bg-white bg-opacity-10 px-6 py-2.5 relative border border-red-600 border-opacity-0 duration-300 ease-in-out group active:border-opacity-20">
                        <span>Buy this plan</span>
                        <img src="/src/assets/images/diamond-blur.svg" alt="" class="absolute h-2 -bottom-1 left-1/2 -translate-x-1/2 opacity-0 duration-300 ease-in-out group-hover:opacity-100">
                    </button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}