{% extends "templates/layouts/base.twig" %}

{% set title = "Deepnude - Verify/Error" %}

{% block page %}
    <main class="bg-auth bg-cover bg-center bg-no-repeat bg-fixed">
        <section class="flex items-center min-h-screen md:p-0 pt-20 pb-6 px-6 justify-center md:inset-10 backdrop-blur-3xl">
            <a href="/" class="absolute top-12 left-12">
                <img src="/src/assets/images/logo.svg" alt="" class="h-[2rem] w-[13.5833rem]">
            </a>
            <a href="#" class="absolute top-12 right-12">
                <img src="/src/assets/images/xmark.svg" alt="" class="h-[0.8333rem] w-[0.8333rem]">
            </a>
            <div class="w-full md:px-40 px-6 pb-8 pt-28 text-left md:rounded-[2rem] rounded-2xl">
                <div class="md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">Info  /  Refund Policy <br class="md:block hidden"> </div>
                <div class="py-8 font-semibold text-[2.6666rem]">Return and Refund policies</div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">If the services / subscription (hereinafter – «products») plan you have purchased from us are faulty, or different from a sample shown, then we will meet relevant in the country in which the <br> products were purchased. </div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">Returns are only permitted up to 15 business days following delivery provided the relevant application received by the website administration. No exceptions can be made past that date if <br> otherwise not directly stipulated by applicable law. Returns can only be done based on the rules below. <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">If you change your mind about the services / subscription plan you have purchased from us, we will refund the purchase price, or exchange those products, subject to the following conditions <br> (all of them shall be met): <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">1. Products purchased from this website can be returned within 15 business days of delivery by the customer. <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">2. You may be asked to provide personal details for returns or exchanges. These details will be used for the purpose of processing the return. <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">3. Shipping costs and bank commissions shall be paid by the customer for returning the products. <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">Exchanges for the similar product in a different plan will not incur any additional charges. If the new product is a different product and there is a price difference you may need to pay the <br> difference or receive a partial refund. Exchanges can be done up to 15 business days of receiving item. <br class="md:block hidden"></div>
                <div class="md:text-[1.1666rem] text-xs leading-[1.6] opacity-50">If the user has used at least 1 (one) generation from the subscription and makes a request for a refund, then we will have to refuse to refund the funds connected with using the functionality of <br> our service. <br class="md:block hidden"></div>
                <div class="py-8 font-semibold text-[2.6666rem]">Refunds</div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">If you request a refund, the purchase will be refunded to you using the original payment method. <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">This document is regulated under the applicable law, however in case of any controversy between this document and relevant law, the respective law shall prevail. Should any clause hereunder <br> contradicts any applicable ruling – the respective clause hereunder shall be deemed automatically eliminated without any special notification. <br class="md:block hidden"></div>
                <div class="pb-6 md:text-[1.1666rem] text-sm leading-[1.6] opacity-50">You can send a request by email: contact@undress.love <br class="md:block hidden"></div>
                    <button class="w-[9.0833rem] h-[3.1666rem] rounded bg-gradient-to-br from-pizazz via-flush-orange to-scarlet bg-opacity-10 py-2 px-4">
                        <span class="text-[1.1666rem] text-center">Go to editor</span>
                    </button>
            </div>
        </section>
    </main>
{% endblock %}